.container-fluid {

  padding: 0 0 0.6rem 0;
}

.navbar-brand {

  padding-left: 2rem;
}

h1  {

  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Architects Daughter', cursive;
  font-weight: 800;
}

.navbar-nav {

  padding-right: 10rem;
}

.t {

  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.head-1 {
  padding: 8rem;
}

.btn {

  margin: 1rem;
  padding: 0.7rem 1.1rem;
  font-family: 'Montserrat', sans-serif;
  

}